body {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  max-width: 1150px;
  margin: 30px auto;
  padding: 10px;
  background-color: gainsboro;
  border: 3px solid #dddddd9a;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  border-radius: 10px;
}

nav ul{
  display: flex;
}

nav ul li{
  color: #fff;
  display: flex;
  padding-right: 80px;
  justify-content: space-between;
}

nav{
  background-color: #fff;
  display: flex;
}
header {
  background-color: gainsboro;
  color: #fff;
  padding: 10px;
  text-align: center;
  grid-column: 1 / -1;
}

.search-form input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.search-form button {
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 1px;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  grid-column: 1 / 2;
}

aside {
  background-color: whitesmoke;
  color: black;
  padding: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 2 / -1;
}

.featured-article, .types-of-bears {
  margin-bottom: 20px;
}

.featured-article h2, .types-of-bears h1, .side-bar h1 {
  margin-top: 0;
}

.side-bar {
  grid-column: 2 / -1;
}


.side-bar ul li {
  margin-bottom: 10px;
}

.side-bar ul li a {
  color: rgba(0, 0, 255, 0.616);
  text-decoration: none;
}

.side-bar ul li a:hover {
  text-decoration: underline;
}
